main {
	margin: 0 auto;
	max-width: 100%;
  padding: 0px 30px;
}
:root {
  --primary: #04549e;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #04549e;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 5px 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
}

header a {
  color: var(--light);
}

.lbl {
  margin-top: 5%;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: var(--light);
  font-size: 20px;
  display:none;
}

.hamburger:focus {
  outline: none;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

form {
  width: 500px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 92%;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
  margin-left: 45%;
  margin-bottom: 45px;
  font-size: 17px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



header a {
  padding-left: 30px;
}

nav  li {
  cursor: pointer;
  margin-left: 80px;
  margin-right: 80px;
}

textarea {
	width: 91%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 15px;	
}

.show {
  display:block !important
}

.card img{
  width: 550px;
  height: 525px;
  margin-top: 15px;
}

.card {
  color: var(--light);
  text-align: left;
}

.card h3 {
  text-align: center;
  text-decoration: underline;
}

.card h4 {
  text-align: center;
}

.card p {
  margin-top: 10px;
  font-size: 18px;
  text-indent: 15px;
}

.flex-row3 {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin: 0 auto;
}

.flex-row2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 93%;
  margin: 0 auto;
}

.flex-row2 img {
  width: 450px;
  height: 450px;
}

#resheader {
  text-align: center;
}

#tabheader {
  text-align: center;
  margin-top: 70px;
  margin-left: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 31.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.workImg {
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 450px;
  margin-left: 5%;
}

@media only screen and (min-width: 200px) and (max-width: 1300px) {
  .show {
    margin-right: 0px;
    font-size: 15px;
    width: 100px;
    flex-direction: column;
  }
  
  .hamburger {
    display: block;
    margin-right: 30px;
    padding: 0px;
  }

  #navul {
    display: none;
  }

  
}